.header_wrapper {
  background-image: url("./assets/images/bg4.jpg");
}

.hero {
  background: rgba(0, 0, 0, 0.4);
}

.Button {
  color: red;
}

/* Increase the specificity */
.Button:disabled {
  color: white;
}

.hero-name {
  display: block;
  color: #42a5f5;
  text-shadow: 3px 1px 4px rgb(0 0 0 / 22%);
}

.what-we-do {
  background-image: url("./assets/images/bg3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}

.video_sec {
  background-image: url("./assets/images/bg2.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}

.courses_list-wrapper {
  background-image: url("./assets/images/bg6.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}

.fotter_wrapper {
  background-image: url("./assets/images/bg3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}

.footer_nav-wrapper {
  background: rgba(0, 0, 0, 0.4);
}
